body {
    margin: 0; 
    padding: 0; 
    height: 100vh; 
    height: calc(var(--vh, 1vh) * 100); 
    width: 100vw;   
    overflow: hidden;
} 

/*A container for the grid areas, splits the page in 4 pieces*/
#gridContainer {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "header sideHeader"
      "kanbanBox sidebar";
} 

/******** HEADER (TOP LEFT) *********/
header {
    grid-area: header; 
    height: 12vh; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
    background-color: #FFCCCC;
    border: 1px solid black;
    border-right: 0px;
  } 

header h1{
    background-color: #FFCCCC;
}

/********** SIDEHEADER(TOP RIGHT) *********/

#sideHeader {
    grid-area: sideHeader; 
    height: 12vh;
    background-color: #CCFFCC;
    border: 1px solid black;
}     

/*A circle with a picture that represents you, with access to your personal profile*/
#userBubble {
    width: 10vh;
    height: 10vh;
    background-color: hotpink;
    position: absolute;
    top:8px;
    right:8px;
    border-radius: 50%;

}

/********** SIDEBAR (BOTTOM RIGHT) *********/

#sideBar {
    grid-area: sidebar; 
    height: 88vh;
    background-color: #CCFFFF;
    border: 1px solid black;
    border-top: 0px;
}



/********** KANBAN BOX (BOTTOM LEFT) ********/

#kanbanBox {
    grid-area: kanbanBox; 
    height: 88vh; 
    display: grid; 
    padding: 10px 10px 10px 10px;
    grid-template-columns: 1fr 1fr 1fr;   
    grid-template-rows: 100%;
    background-color: #CCCCFF;
    align-content: center;
} 

#kanbanBox h3 {
    text-align: center; 
}

/*Lists that will contain task cards*/
.kanbanList {
    background-color: #FFFFCC;
    height: 95%;
    width: 90%;
    padding: 2px 2px 2px 2px;
    align-content: center;
    border: solid 1px black;
} 

#todo, #doing, #completed {
    overflow-y: auto;
}

/*Task cards that contain information about the task*/
.taskCard { 
    width: 85%; 
    border: solid black 1px;
    margin: 0 auto 0;
    padding: 10px;
    min-height: 20px;
    cursor: move; 
} 

.listArea p {
    display: inline; 
}

.taskCard h4 {
    text-align: center; 
    margin-top: -5px;
} 

.modal {
    position: absolute; 
    width: 50%; 
    height: 40%;
    float: left;
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%);
  } 

  .modalHeader {  
      background: rgb(16, 16, 187); 
      height: 50px; 
      width: 100%;
  }

  .modalHeader h4 {
    display: inline-block; 
    color: white;
  }

  .modalHeader button {
      float: right;
      background: none; 
      border: none; 
      color: white; 
      cursor: pointer;
  }
  #addTaskModal {
      display: none;
  }

  #addTaskForm {
      padding: 10px 30px;
      background-color: #FFFFCC;
      border: 1px solid black;
  }
  .close{
      position: relative;
      left: 175px;
      top: 0px;
  }
  .close:hover{
      color: white;
      cursor: pointer;
  }
  .edit{
      position: relative;
      left: 135px;
      top: 0px;
  }
  .edit:hover{
      color: white;
      cursor: pointer;
  }
  
  /* Buttons for adding task and grp */

#addTaskBtn{
    position: relative;
    background: none;
    border: none;
    font-size: 150%;
    top: 20%;
    
}
#taskBtnText{
    position: relative;
    font-size: 75%;
    left: 10px;
    top: -3px;
    font-style: normal;
}
#addTaskBtn:hover{
    color: red;
    cursor: pointer;
}
#addGrpBtn{
    position: relative;
    background: none;
    border: none;
    font-size: 110%;
    top: 20%;
}
#grpBtnText{
    position: relative;
    font-size: 100%;
    left: 10px;
    top: -2px;
    font-style: normal;
}
#addGrpBtn:hover{ 
    color: red;
    cursor: pointer;
}

