/***COLOR VARIABLES***/
:root {
  --main-color: #001730;
  --main-background-color: #ffffff;
  --header-text-color: #ffffff;
  --kanbanlist-background-color: #f7f7f7;
  --main-color-opacity: rgba(0, 22, 48, 0.5);
  --scroll-hover: #283f58;

  --todo-card-color: rgb(251, 63, 63);
  --doing-card-color: rgb(255, 255, 55);
  --completed-card-color: rgb(28, 255, 28);
  --todo-card-bg: rgba(251, 158, 146, 0.493);
  --doing-card-bg: rgba(250, 250, 141, 0.493);
  --completed-card-bg: rgba(143, 253, 143, 0.479);
  --card-text-color: #001730;
  --edit-hover-color: purple;
  --btn-border-color: #4ad7d1;
  --btn-hover-color: #283f58;

  --sidebar-background-color: #1e90ff;
  --gridGained-background-color: #00ff00;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
}

.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 70px 100%;
  grid-template-areas:
    "header header"
    "main sidebar";
  overflow: hidden;
}

/***HEADER***/

header {
  grid-area: header;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--main-color);
  padding: 10px 20px;
  color: var(--header-text-color);
  border: 1px solid dark;
}

header * {
  margin: auto;
  margin-left: 5px;
  margin-right: 5px;
}

#logoDiv {
  width: 160px;
  min-width: 160px;
}

#headTools {
  width: 70%;
  height: 80%;
  min-width: 700px;
  display: flex;
}

#headTools * {
  margin-left: 7px;
  position: relative;
}

#projects {
  margin-left: 0px;
}

.dropdown {
  position: absolute;
  margin-top: 10px;
}

#userTools {
  display: flex;
}
#profilePicture {
  float: right;
  background: #ffffff;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  overflow: hidden;
}

#profilePicture img {
  width: 100%;
  height: 100%;
  margin-left: 0;
}

/*** MAIN BODY ***/

main {
  grid-area: main;
  background-color: var(--main-background-color);
}

#harold {
  position: absolute;
  bottom: 3%;
  left: 5%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 0;
}

#harold:checked {
  opacity: 0.3;
}

/*Scrollbar, only supported by certain browsers*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-hover);
}

#kanbanTools {
  height: 0px;
  padding: 18px 100px;
}

#kanbanBox {
  height: 100%;
  display: grid;
  padding: 10px 50px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40px 100%;
  grid-column-gap: 5%;
  align-content: space-around;
}

.listHeaderBox {
  width: 100%;
  height: 100%;
  /*Same background-color as color on top-bar*/
  background-color: var(--main-color);
  border: 2px solid black;
  border-radius: 3px;
  text-align: center;
}

.listHeader {
  color: white;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  line-height: 10%;
}

.kanbanList {
  background-color: var(--kanbanlist-background-color);
  height: 80%;
  width: 100%;
  margin-top: 10px;
  padding: 10px 0 2px 0;
  align-content: center;
  overflow: hidden;
  overflow-y: auto;
}

.taskCard {
  width: 90%;
  min-height: 120px;
  margin-left: 5%;
  margin-bottom: 5px;
  padding: 10px 15px 5px 15px;
  color: var(--card-text-color);
  cursor: move;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 20px auto auto;
  grid-template-areas:
    "taskTitle taskTitle taskEditBtns"
    "taskDescription taskDescription taskDescription"
    "taskWorker taskDate taskDate";
}

.taskTitle {
  grid-area: taskTitle;
  width: 80%;
  margin: 0;
}

.taskEditBtns {
  grid-area: taskEditBtns;
  text-align: end;
}

.taskEditBtns * {
  cursor: pointer;
  margin-left: 8px;
}

.taskDescription {
  grid-area: taskDescription;
  transition: linear;
  overflow: hidden;
  transition-duration: 0s;
  transition-property: all;
  margin-top: auto;
}

.taskChecklist {
  padding: 0;
}

.taskChecklist input {
  border: 1px solid green;
}

.taskChecklist li {
  list-style: none;
}

.taskChecklist p {
  display: inline;
}

.taskWorker {
  grid-area: taskWorker;
  margin: 0;
  padding: 0;
}

.taskDate {
  grid-area: taskDate;
  margin: 0;
  padding: 0;
  text-align: end;
}

/* Colorchange on taskCards */

#todo {
  border: 1px solid var(--main-color);
  background-color: var(--todo-card-bg);
  border-radius: 5px;
}

#todo .taskEditBtns *:hover {
  color: var(--doing-card-color);
}

#doing .taskEditBtns *:hover {
  color: var(--completed-card-color);
}

#completed .taskEditBtns *:hover {
  color: var(--todo-card-color);
}

#doing {
  border: 1px solid var(--main-color);
  background-color: var(--doing-card-bg);
  border-radius: 5px;
}

#completed {
  border: 1px solid var(--main-color);
  background-color: var(--completed-card-bg);
  border-radius: 5px;
}

#todo .taskCard {
  border: 1px solid var(--main-color);
  background-color: var(--todo-card-color);
}
#doing .taskCard {
  border: 1px solid var(--main-color);
  background-color: var(--doing-card-color);
}
#completed .taskCard {
  border: 1px solid var(--main-color);
  background-color: var(--completed-card-color);
}

#sidebar {
  grid-area: sidebar;
  background-color: var(--sidebar-background-color);
  position: relative;
  padding-top: 15%;
}

.mainBtn {
  background: var(--main-color);
  padding: 10px 15px;
  padding-left: 5px;
  color: #ffffff;
  border: 1px solid var(--btn-border-color);
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  cursor: pointer;
  margin-left: -50px;
}

.mainBtn:hover {
  background-color: var(--btn-hover-color);
  transform: scale(1.03);
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  padding-top: 5px;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

@media (max-width: 862px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 70px 100vh 100vh;
    grid-template-areas:
      "header"
      "main"
      "sidebar";
    overflow: auto;
  }
}

/*** MODALS ***/

.modal {
  position: absolute;
  overflow: hidden;
  flex-shrink: 0;
  left: 50%;
  top: 50%;
  z-index: 150;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  max-width: 70%;
  max-height: 100%;
  border: 2px solid var(--scroll-hover);
  box-shadow: 1px 1px 20px black;
  /*Animation*/
  animation: modalShow 0.2s forwards;
  animation-timing-function: ease-out;
}

/* Div for black screen on modal */
#modalDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #111111;
  z-index: 100;
  opacity: 0.9;
  display: none;
  animation: modalDivFade 0.2s forwards;
  animation-timing-function: ease-out;
}

.modalHeader {
  background: var(--main-color);
  height: 50px;
  width: 100%;
  padding-left: 10px;
  border-bottom: 1px solid var(--scroll-hover);
}

.modalHeader h4 {
  display: inline-block;
  color: white;
}

.modalHeader button {
  float: right;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.closeModalBtn {
  width: 50px;
  height: 50px;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  display: inline-block;
}

.closeModalBtn:hover {
  transform: scale(1.05);
}

/***TASKMODAL***/

#addTaskModal {
  display: none;
}

#addTaskModalBtn {
  background-color: #3c983c;
  border-radius: 5px;
  padding: 10px;
  color: white;
  border: 1px solid darkgreen;
  text-shadow: 1px 1px darkgreen;
  margin-bottom: 10px;
}

#addTaskModalBtn:hover {
  background-color: #5cb85c;
}

#addTaskForm {
  padding: 10px 30px;
  background-color: #eaeaee;
}

#addTitle {
  border-radius: 5px;
  background-color: #fcfcfc;
}

#addDescription {
  border-radius: 5px;
  flex-shrink: 0;
  max-width: 100%;
  background-color: #fcfcfc;
}

#datefield {
  border-radius: 5px;
  background-color: #fcfcfc;
}

#addTaskWorker {
  border-radius: 5px;
  flex-shrink: 0;
  max-width: 100%;
  background-color: #fcfcfc;
}

#editTaskModal {
  display: none;
}

#editTaskModalBtn {
  background-color: #3c983c;
  border-radius: 5px;
  padding: 10px;
  color: white;
  border: 1px solid darkgreen;
  text-shadow: 1px 1px darkgreen;
  margin-bottom: 10px;
}

#editTaskModalBtn:hover {
  background: #5cb85c;
}

#editTaskForm {
  padding: 10px 30px;
  background-color: #eaeaee;
}

/*DOES NOT WORK*/
#editTaskId {
  border-radius: 5px;
  background-color: #fcfcfc;
}

#editDescription {
  border-radius: 5px;
  flex-shrink: 0;
  max-width: 100%;
  background-color: #fcfcfc;
}

#editdatefield {
  border-radius: 5px;
  background-color: #fcfcfc;
}

#editTaskWorker {
  border-radius: 5px;
  flex-shrink: 0;
  max-width: 100%;
  background-color: #fcfcfc;
}

/***REWARDMODAL***/

#addRewardModal {
  display: none;
}
#addRewardForm {
  padding: 10px 30px;
  background-color: #eaeaee;
}
#addReward1 {
  border-radius: 5px;
  background-color: #fcfcfc;
}
#addReward2 {
  border-radius: 5px;
  background-color: #fcfcfc;
}
#addRewardModalBtn {
  background-color: #3c983c;
  border-radius: 5px;
  padding: 10px;
  color: white;
  border: 1px solid darkgreen;
  text-shadow: 1px 1px darkgreen;
}

#addRewardModalBtn:hover {
  background-color: #5cb85c;
}

#addProjectModal {
  display: none;
}
#addProjectForm {
  padding: 10px 30px;
  background-color: #eaeaee;
}
#addProject {
  border-radius: 5px;
}

#addProjectModalBtn {
  background-color: #3c983c;
  border-radius: 5px;
  padding: 10px;
  color: white;
  border: 1px solid darkgreen;
  text-shadow: 1px 1px darkgreen;
}

#addProjectModalBtn:hover {
  background-color: #5cb85c;
}

#groupModal {
  display: none;
}
#groupForm {
  padding: 10px 30px;
  background-color: #eaeaee;
}
#editGroup {
  border-radius: 5px;
}

#addProjectModalBtn {
  background-color: #3c983c;
  border-radius: 5px;
  padding: 10px;
  color: white;
  border: 1px solid darkgreen;
  text-shadow: 1px 1px darkgreen;
}

#addProjectModalBtn:hover {
  background-color: #5cb85c;
}
/*Keyframes*/

@keyframes modalShow {
  0% {
    top: 70%;
    opacity: 0;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}

@keyframes modalDivFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0, 9;
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(0.97);
  }

  70% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

/* Progress Bar  */

#progressBar {
  position: relative;
  height: 100%;
  width: 100%;
  max-height: 800px;
  margin: auto;
}
.grid {
  position: relative;
  top: 1%;
  left: 10%;
  width: 35%;
  height: 8%;
  background-color: white;
  clip-path: polygon(
    0% 5%,
    5% 0%,
    95% 0%,
    100% 5%,
    100% 95%,
    95% 100%,
    5% 100%,
    0% 95%
  );
  border: 1px solid #001730;
  margin-bottom: -1px;
  /*border-bottom: 2px solid #001730s;*/
}
.gainedGrid {
  background-color: var(--gridGained-background-color);
}

/*** REWARDS DIVS AND ARROWS ***/

#arrow1 {
  position: absolute;
  left: 46%;
  top: 39.2%;
  visibility: hidden;
}

#arrow2 {
  position: absolute;
  left: 46%;
  top: 0%;
  visibility: hidden;
}
.rewardText {
  color: white;
  z-index: 50;
  font-weight: normal;
  position: relative;
  font-size: 75%;
}
.rewardBox {
  position: absolute;
  left: 52%;
  width: 45%;
  height: 5%;
  background-color: var(--main-color);
  border: 1px solid white;
  line-height: 200%;
  visibility: hidden;
  overflow-x: auto;
  overflow-y: hidden;
}
.rewardBox * {
  position: relative;
}
#rewardBox1 {
  position: absolute;
  top: 37.6%;
}
#rewardBox2 {
  position: absolute;
  top: -1.2%;
}
#completed .taskEditBtns {
  display: none;
}

/* Reset reward tag and button */

/*
#resetReward {
  position: absolute;
  left: 70%;
  bottom: 21%;
}
*/

#rewardLog {
  position: relative;
  left: 10%;
  bottom: 13%;
  animation: scroll1 10s linear infinite;
  color: #001730;
}
#logBackdrop {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  /*border: 0.5px solid #001730;*/
  bottom: 12.1%;
}

/* Keyframes for log */
@keyframes scroll1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-120%);
  }
}

/*Fungerer ikke enda*/
/*
#addRewardBtn:hover#sidebar {
  animation: pulse 2s linear infinite;
}

@keyframes pulse {
  0% {
    background-color: #FFFFFF
  }
  100% {
    background-color: var(--sidebar-background-color);
  }
}
*/
