body {
    font-family: Arial, Helvetica, sans-serif; 
} 

.kanbanList { 
    border-radius: 10px;
} 

.taskCard { 
    background: #7aceda; 
    border-radius: 5px;
} 

.modal {
    background: white;
  }

