body {
    margin: 0; 
    padding: 0; 
    height: 100vh; 
    height: calc(var(--vh, 1vh) * 100); 
    width: 100vw;   
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif; 
} 

#gridContainer {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "header sideHeader"
      "kanbanBox sidebar";
} 

header {
    grid-area: header; 
    height: 12vh; 
    display: flex; 
    flex-direction: row; 
    justify-content: center;
  } 

  #sideheader {
      grid-area: sideHeader; 
      height: 12vh;
  }

#sidebar {
    grid-area: sidebar; 
    height: 88vh;
  }

#kanbanBox {
    grid-area: kanbanBox; 
    height: 88vh; 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;   
    grid-template-rows: 100%;
} 

#kanbanBox h3 {
    text-align: center; 
}

.taskCard { 
    width: 90%; 
    margin-top: 10px; 
    margin-left: auto; 
    margin-right: auto;
    padding: 10px;
    min-height: 90px;
    background: #7aceda; 
    cursor: move; 
} 

.listArea p {
    display: inline;
}

.taskCard h4 {
    text-align: center; 
    margin-top: -5px;
}

